/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body{
  background-image:url("bg.jpg") ;
}
.container11{
 height: 95vh;
 width: 95vw;
 backdrop-filter:blur(18px) saturate(180%) ;
 border-radius: 12px;
}